@import "tailwindcss";

html[dir="rtl"] body {
  font-family: Vazirmatn, Tahoma, "Segoe UI", sans-serif;
}

html[dir="ltr"] body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.prose-news p {
  margin: 0 0 1rem;
  line-height: 1.9;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
